.deals
	&__wrap
		z-index -1
		position absolute
		top -484px
		left 624px
		width 2034px
		height 1368px
		transition transform 0.3s, box-shadow 0.3s
		transform rotateX(59deg) rotateY(-4deg) rotateZ(-38deg)
		transform-style preserve-3d

		&-slide1
			position absolute
			top 0
			left 0
			height 100%
			width 23.3%
			margin-right .3%
			background url(../images/deals/deals-1.png)
			background-size 100% 100%
			box-shadow -100px 100px 80px -2px rgba(0,0,0,0.6)
			transform-style preserve-3d
			transform translateY(-150%)
			transition transform 0.3s ease, height 0.5s ease
			cursor pointer

			&:before
				content ''
				position absolute
				height 6px
				width 100%
				bottom -20px
				left 17px
				transform rotateX(90deg) translateZ(41px) translateY(-20px)
				background #444751
				pointer-events none

			&:after
				content ''
				position absolute
				height 100%
				width 6px
				top -20px
				left -30px
				transform rotateY(90deg) translateZ(42px) translateX(18px)
				background #191C25
				pointer-events none
	&.js-active-tab &__wrap
		z-index 1
	&.js-active-tab
		&.wrapper
			z-index 1
	&.js-deals-slide-one &__wrap-slide1
		transform translateY(0%) translateZ(1px)
		transition transform 0.5s ease, height 0.5s ease
	&.js-deals-slide-one-two &__wrap-slide1
		transform translateY(150%) translateZ(1px)

.deals
	&__wrap
		&-slide2
			position absolute
			top 0
			right 0
			height 49.7%
			width 76.3%
			margin-left .3%
			margin-bottom .3%
			opacity 1
			background url(../images/deals/deals-2.png)
			background-size 100% 100%
			box-shadow -100px 100px 80px -2px rgba(0,0,0,0.6)
			transform-style preserve-3d
			transform translateX(150%)
			transition transform 0.3s ease, height 0.5s ease, opacity 1s ease
			cursor pointer

			&:before
				content ''
				position absolute
				height 6px
				width 100%
				bottom -20px
				left 17px
				transform rotateX(90deg) translateZ(41px) translateY(-20px)
				background #444751
				pointer-events none

			&:after
				content ''
				position absolute
				height 100%
				width 6px
				top -20px
				left -30px
				transform rotateY(90deg) translateZ(42px) translateX(18px)
				background #191C25
				pointer-events none

	&.js-deals-slide-two &__wrap-slide2
		transform translateX(0%)
		transition transform 0.5s ease, height 0.5s ease

.deals
	&__wrap
		&-slide3
			position absolute
			bottom 0
			right 0
			height 49.7%
			width 76.3%
			margin-left .3%
			margin-top .3%
			opacity 1
			background url(../images/deals/deals-3.png)
			background-size 100% 100%
			box-shadow -100px 100px 80px -2px rgba(0,0,0,0.6)
			transform-style preserve-3d
			transform translateX(150%) translateZ(1px)
			transition transform 0.3s ease, height 0.5s ease, opacity 1s ease
			cursor pointer

			&:before
				content ''
				position absolute
				height 6px
				width 100%
				bottom -20px
				left 17px
				transform rotateX(90deg) translateZ(41px) translateY(-20px)
				background #444751
				pointer-events none

			&:after
				content ''
				position absolute
				height 100%
				width 6px
				top -20px
				left -30px
				transform rotateY(90deg) translateZ(42px) translateX(18px)
				background #191C25
				pointer-events none

	&.js-deals-slide-three &__wrap-slide3
		transform translateX(0%) translateZ(1px)
		transition transform 0.5s ease, height 0.5s ease
	.js-deals-slide-three-one &__wrap-slide2
		opacity 0.4
		transition opacity 1s ease
	.js-deals-slide-three-one &__wrap-slide3
		opacity 0.4
		transition opacity 1s ease

.deals
	&__wrap
		&-slide4
			position absolute
			top 0
			left 0
			height 100%
			width 23.3%
			margin-right .3%

			opacity 1
			background url(../images/deals/deals-4.png)
			background-size 100% 100%
			box-shadow -100px 100px 80px -2px rgba(0,0,0,0.6)
			transform-style preserve-3d
			transform translateY(-150%) translateZ(1px)
			transition transform 0.3s ease, height 0.5s ease, opacity 1s ease
			cursor pointer

			&:before
				content ''
				position absolute
				height 6px
				width 100%
				bottom -20px
				left 17px
				transform rotateX(90deg) translateZ(41px) translateY(-20px)
				background #444751
				pointer-events none

			&:after
				content ''
				position absolute
				height 100%
				width 6px
				top -20px
				left -30px
				transform rotateY(90deg) translateZ(42px) translateX(18px)
				background #191C25
				pointer-events none

	&.js-deals-slide-four &__wrap-slide4
		transform translateY(0%) translateZ(1px)
		transition transform 0.5s ease, height 0.5s ease

.deals
	&__title
		position absolute
		top 452px
		left 8px
		font-size 32px
		letter-spacing -0.8px
		color #fff
		font-family mbt-rb-m
		text-transform uppercase
		transform translateY(50px) translateX(-300%)
		transition transform 0.3s ease


	&.js-deals-slide-text-one &__title
		transform translateY(0px)
		transition transform 0.3s ease

	&__text
		position absolute
		left 8px
		top: 504px;
		width: 487px;
		letter-spacing 0px
		line-height 21px
		font-size 18px
		font-family mbt-rb-l
		color #A1A1A4
		transform translateY(50px) translateX(-300%)
		transition transform 0.3s ease


	&.js-deals-slide-text-one &__text
		transform translateY(0px)
		transition transform 0.3s ease


	&__btn
		display block
		position absolute
		top 650px
		left 10px
		height 43px
		margin-top 5px
		padding-right 40px
		padding-left 40px
		border-radius 3px
		background #2E343C
		box-shadow 0 5px 0 0 #28292E, 0 6px 5px 0 rgba(50,50,50,.6)
		font-size 19px
		line-height 43px
		letter-spacing -0.1px
		text-transform uppercase
		cursor pointer
		color #fff
		font-family mbt-rb-bl
		transform translateX(-300%)
		transition transform 0.3s ease

	&.js-deals-slide-text-one &__btn
		transform translateX(0%)
