.header
	height 114px
	background #000

	&__logo
		top 50%
		transform translateY(50%)
		sprite $logo

	&__btn-try
		padding-right 30px
		padding-left 30px
		border-radius 3px
		background #007728
		box-shadow: 0 5px 0 0 #004807, 0 6px 5px 0 rgba(50,50,50,.6);
