.slider
	height 100%
	padding-top 114px
	background #1A1A1A
	z-index 1
	transition background 1s ease
	&-bg-gray
		background #DBDBDB
		background-image none
		transition background 1s ease
.slider
	&.slider-bg-gray
		.sharing__title
		.sharing__text
			color #353C49
