.wrapper
	z-index 4
	position relative
	max-width 1224px
	min-width 960px
	margin 0 auto
	padding-right 10px
	padding-left 10px
	clearfix()
.main
	position relative
	height 100vh
	min-height 650px
	overflow hidden
