mbt-rb-l = 'Roboto Light', sans-serif
mbt-rb-m = 'Roboto Medium', sans-serif
mbt-rb-b = 'Roboto Bold', sans-serif
mbt-rb-bl = 'Roboto Black', sans-serif

@font-face
	font-family 'Roboto Light'
	src url('../fonts/Roboto-Light.ttf') format('truetype')

@font-face
	font-family 'Roboto Medium'
	src url('../fonts/Roboto-Medium.ttf') format('truetype')

@font-face
	font-family 'Roboto Bold'
	src url('../fonts/Roboto-Bold.ttf') format('truetype')

@font-face
	font-family 'Roboto Black'
	src url('../fonts/Roboto-Black.ttf') format('truetype')
