.footer
	.footer-tabs
		.tab.tabs__multi-charts.js-multi-charts-active
			.tabs-wrap
				.tabs-outer.tabs-outer__multi-charts Multi charts
					.tabs-inner.tabs-inner__multi-charts
		.tab.tabs__sharing
			.tabs-wrap
				.tabs-outer.tabs-outer__sharing Sharing
					.tabs-inner.tabs-inner__sharing
		.tab.tabs__top-deals
		.tab.tabs__online-signals
		.tab.tabs__news
		.tab.tabs__user-friendly
		.tab.tabs__indicators

