block content
	#slider.slider
		.sharing#sharing
			.wrapper
				.sharing__title Sharing
				.sharing__text Открывайте до 4 графиков в одном окне браузера!
					br
					| Впервые подобная функция реализована у брокера бинарных опционов. Теперь вам не нужно иметь ряд мониторов, чтобы успевать следаить за несколькими графиками одновременно. Накаждый график можно любые индикаторы и построения.
				.sharing__btn#sharingChartsBtn Call to action
			.sharing__wrap
				.sharing__wrap-slide2
				.sharing__wrap-slide1
				.sharing__wrap-slide3
				.sharing__wrap-slide4

		.multi-charts#multi-charts
			.wrapper
				.multi-charts__title Multi Charts
				.multi-charts__text Открывайте до 4 графиков в одном окне браузера!
					br
					| Впервые подобная функция реализована у брокера бинарных опционов. Теперь вам не нужно иметь ряд мониторов, чтобы успевать следаить за несколькими графиками одновременно. Накаждый график можно любые индикаторы и построения.
				.multi-charts__btn#multiChartsBtn Call to action

			.multi-charts__wrap
				.multi-charts__wrap-slide1
				.multi-charts__wrap-slide2
				.multi-charts__wrap-slide3
				.multi-charts__wrap-slide4

